<h2>Add New Post</h2>
<p>
	<form action="/new" method="POST"role="form">
<br />

<h5>Enter you name</h5>
    <input name="youname" class="form-control"  placeholder="Enter you name">

  <br />
		<textarea name="content" class="form-control" rows="6" placeholder="Type post text here"></textarea>
  <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</p>